@import url('https://fonts.googleapis.com/css?family=Gugi');

//Variables
$color: #FFFFFF;

body{
    font-family: 'Gugi', serif;
    background: url('../images/bg.jpg') no-repeat fixed center center;
    background-size: cover;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 3em;
    color: $color;
}

.grid-container{
    display: grid;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); 

    .white{
        grid-column: 1/4;
        width: 33%;
        justify-self: center;
        border-top-left-radius: 180px;
        background: radial-gradient(#ffffff61, #ffffffe8);
        opacity: .7;

        &:hover{
            opacity: .8;
            cursor: pointer;
            background: #ffffff;
            box-shadow: 2px 1px 45px -3px #ffffff;
            border: 2px solid #fff;
        }
    }
    
    .yellow{
        border-bottom-left-radius: 180px;
        background: radial-gradient(#efe89566, #e9e293d9);

        &:hover{
            opacity: .8;
            cursor: pointer;
            border: 2px solid #fffde7;
            background: radial-gradient(#ffffff, #fff587);
            box-shadow: 2px 1px 45px -3px #fffcdc;
        }
    }
    
    .pink{
        border-top-right-radius: 180px;
        background: radial-gradient(#ef82c554,#ef82c5d9);

        &:hover{
            opacity: .8;
            cursor: pointer;
            border: 2px solid #f9d4eb;
            background: radial-gradient(#ffffff, #ef82c5);
            box-shadow: 2px 1px 45px -3px #ef82c5;
        }
    }

        
    .blue{
        border-bottom-right-radius: 180px;
        grid-column: 1/4;
        width: 33%;
        justify-self: center;
        background: radial-gradient(rgba(136, 237, 241, 0.329), rgba(86, 250, 255, 0.9));

        &:hover{
            opacity: .8;
            cursor: pointer;
            border: 2px solid #5efaff;
            background: radial-gradient(#ffffff, #92edf0);
            box-shadow: 2px 1px 45px -3px #c6f5f7;
        }
    }

    .controls-panel{
        display: grid;
        background-color: #16bebe;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .display{
            grid-column: 1/4;
            width: 45%;
            height: 45%;
            justify-self: center;
            align-self: center;
            text-align: center;
            font-size: 2em;
            border-radius: 10px;
            border: 2px solid #FFFFFF;

            &:hover{
                cursor: default;
            }
        }

        .controls{
            text-align: center;
            
            button{
                margin-top: 5px;
                width: 60%;
                height: 40%;
                border: 2px solid #000000;
                background: linear-gradient(to right, #6229ff 0%, #5331c4 15%, #3f05ff 51%, #451bcf 71%, #4817ab 100%);
                outline: none;
                
                &:hover{
                    cursor: pointer;
                }
            }
        }

        .start{
            border-bottom-left-radius: 40px;
            grid-column: 1/2;

            &:hover{
                background: linear-gradient(to right, #2bff2b 0%, #2fff05 28%, #4fc232 51%, #1fcf2b 68%, #3eab19 100%);
            }
        }

        .active-start{
            background: linear-gradient(to right, #2bff2b 0%, #2fff05 28%, #4fc232 51%, #1fcf2b 68%, #3eab19 100%) !important;
        }

        .strict{
            border-top-left-radius: 40px;
            
            &:hover{
                background: linear-gradient(to right, #ff2b2b 0%, #c23131 15%, #ff0505 51%, #cf1d1d 71%, #ab1818 100%);
            }
        }
                .active-strict{
                  background: linear-gradient(to right, #ff2b2b 0%, #c23131 15%, #ff0505 51%, #cf1d1d 71%, #ab1818 100%) !important; 
                }
    }

}

//Responsive design
@media screen and (max-width: 767px){
    .grid-container{
        height: 100%;
        width: 100%;
    }
} 
